nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li{
    list-style: none;
    display: inline;
    margin: 20px;
}
nav ul li:hover{
    background-color: black;
    color: blue;
}
header h1{
    text-align: center;
}
footer{
    text-align: center;
}
.navigation {
    display: flex;
}
.hero-container img{
    width: 75%;
    height: 300px;
    border-radius: 10px;
}
.hero-container{
    display: flex;
    background-color: antiquewhite;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.eight{
    max-width: 1140px;
    margin: 20px auto;
}